<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body>
    <h1>This template is running by Django Server.</h1>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum est fuga praesentium eaque labore doloribus totam at! Perferendis, placeat asperiores? Labore qui rem excepturi commodi? Et praesentium similique possimus impedit?</h2>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid maiores ex similique esse fuga quia doloribus dicta? Incidunt facere, repellendus inventore temporibus voluptatum cum, aspernatur maxime dolorem autem tempore eveniet.
</body>

<script>
    console.log("Hey Django")
</script>
</html>